.icon {
	display: inline-block;
	margin: 2px;
	height: 16px;
	width: 16px;
	/*background-color: #ccc;*/
}

/* ICONS */

.icon-cesta {
    background: url('../Images/cesta.png') center center no-repeat;
}

.icon-capas {
    background: url('../Images/capas.png') center center no-repeat;
}


